@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* default text color*/
  color: #c9d1d9;
}

.wrapper-light-dark {
  background-color: #161b22;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper-main {
  flex: 1;
}
